<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>{{title}} - Твій Шанс</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{> navbar }}

  <main class="container">
    {{{content}}}
  </main>

  <footer class="site-footer">
    <p>© 2025 Сайт знайомств. Молодий дід корпорейтед.</p>
  </footer>
</body>
</html>
