<header class="site-header">
  <nav>
    <a href="/" class="logo">Твій Шанс ❤️</a>
    <ul>
      <li><a href="/">Головна</a></li>
      <li><a href="/about">Про нас</a></li>
      <li><a href="/users">Пошук</a></li>
      <li><a class="btn btn-create" href="/users/create">Створити анкету</a></li>
    </ul>
  </nav>
</header>
